<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--<properties>
		<property name="asd" value="213"/>
	</properties>-->

	<settings>
		<setting name="lazyLoadingEnabled" value="false"/>
	</settings>
	<!--<typeAliases>
		<package name="com.jd.edison.demo"/>
	</typeAliases>
	<plugins>
		<plugin interceptor="Demo">
			<property name="a" value="123"/>
		</plugin>
	</plugins>-->

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://192.168.157.62:3306/fmsivc_single"/>
				<property name="username" value="jxq"/>
				<property name="password" value="jxq"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mappers/CGDao.xml"/>
	</mappers>


</configuration>
